<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
  <div id="loginContainer" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex="0 1 500px">
      <mat-card-title>
        Logga in
      </mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <input type="text" formControlName="username" matInput placeholder="Användarnamn">
          <mat-error *ngIf="validateControl('username') && hasError('username', 'required')">Ange ett giltigt användarnamn</mat-error>
          <mat-error *ngIf="validateControl('username') && hasError('username', 'maxlength')">Ange max 30 tecken</mat-error>
          <mat-error *ngIf="validateControl('username') && hasError('username', 'minlength')">Ange minst 3 tecken</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password" formControlName="password" matInput placeholder="Lösenord">
          <mat-error *ngIf="validateControl('password') && hasError('password', 'required')">Ange ett giltigt lösenord</mat-error>
          <mat-error *ngIf="validateControl('password') && hasError('password', 'maxlength')">Ange max 30 tecken</mat-error>
          <mat-error *ngIf="validateControl('password') && hasError('password', 'minlength')">Ange minst 3 tecken</mat-error>
        </mat-form-field>
        <div>
          <span fxFlex></span>
          <button mat-button type="submit">Bekräfta</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</form>
