<mat-toolbar color="primary">
  <button fxShow="true" fxHide.gt-sm="true" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="home"><h1>TodoSite</h1></a>
  <span fxFlex></span>
  <div fxShow="true" fxHide.lt-md="true">
    <a *ngIf="isUserAuthenticated()" routerLink="dashboard" mat-button>Mina sidor</a>
    <a *ngIf="isUserAuthenticated()" (click)="logOut()" mat-button>Logga ut</a>
    <a *ngIf="!isUserAuthenticated()" routerLink="login" mat-button>Logga in</a>
  </div>
</mat-toolbar>
<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav fxLayout="column" mode="side" opened="false" [fixedInViewport]="true"
    (click)="sidenav.toggle()">
    <div fxLayout="column">
      <button mat-icon-button fxFlexAlign="end">
        <mat-icon >arrow_back</mat-icon>
      </button>
      <a *ngIf="isUserAuthenticated()" routerLink="dashboard" mat-button>Mina sidor</a>
      <a *ngIf="isUserAuthenticated()" (click)="logOut()" mat-button>Logga ut</a>
      <a *ngIf="!isUserAuthenticated()" routerLink="login" mat-button>Logga in</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
