<h2>Mina sidor</h2>
<div>
  <mat-card>
    <mat-card-title>
      Uppgifter
    </mat-card-title>
    <mat-card-content fxLayout="row wrap">
      <div fxFlex="100%">

        <p>Användarnamn: {{user?.username}}</p>
        <p>Förnamn: {{user?.firstname}}</p>
        <p>Efternamn: {{user?.lastname}}</p>
        <p>Födelsedatum: {{getDateOfBirth()}}</p>

      </div>
      <div fxFlex="100%">
        <mat-card-title>
          Att göra
        </mat-card-title>
        <app-user-tasks [tasks]="user?.tasks"></app-user-tasks>
      </div>
    </mat-card-content>
  </mat-card>
</div>
